<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <div style="text-align: right; margin-bottom: 20px;"> 
        <a href="/login" class="btn btn-primary">Войти</a> 
        <a href="/register" class="btn btn-secondary">Зарегистрироваться</a> 
    </div>
    <h1>Главная</h1>
    <p>Краткая информация о последней опубликованной статье:</p>
    <hr>

    <h2>Навигация</h2>
    <ul>
        <li><a href="/about_company">О компании</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/qa">Вопросы-ответы</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <li><a href="/politics">Политика конфиденциальности</a></li>
        <li><a href="/vacancies">Вакансии</a></li>
        <li><a href="/reviews">Отзывы</a></li>
        <li><a href="/promocodes">Промокоды и купоны</a></li>
    </ul>

</body>
</html>