/* h2 {
    color: lightgray;
    background-color: black;
    height: max-content;
    width: max-content;
    font-variant: small-caps;
}
img[alt="Сертификат компании"] {
    border: 1px solid darkblue;
} */ 
.about-company-main img{
    height: 100px;
    width: auto;
    border: 2px solid black;
    border-radius: 10%;
    padding: auto;
}
.about-company-main p {
    text-size-adjust: 20px;
}

.certificate-container {
    position: relative; /* Для использования z-index */
    height: 500px;
    width: 300px;
    padding: 20px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(230, 230, 230, 0.9));
    border: 30px solid transparent;
    border-image: url("https://media.istockphoto.com/id/1493574434/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%B0%D0%B2%D1%82%D0%BE%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D1%8C-%D0%BC%D1%87%D0%B8%D1%82%D1%81%D1%8F-%D0%BF%D0%BE-%D1%88%D0%BE%D1%81%D1%81%D0%B5-%D0%BD%D0%B0-%D0%B7%D0%B0%D0%BA%D0%B0%D1%82%D0%B5-%D0%B2%D0%B8%D0%B4-%D1%81%D0%B1%D0%BE%D0%BA%D1%83-%D0%BF%D0%BE%D0%B4-%D0%BD%D0%B8%D0%B7%D0%BA%D0%B8%D0%BC-%D1%83%D0%B3%D0%BB%D0%BE%D0%BC.jpg?s=612x612&w=0&k=20&c=s0_oZlbmHJ76y9bP56Iwt2Q0go_lfz0g33rx4Z9QiaE=") 30 round round;
    background-size: cover;
    border-width: 50px;
    text-align: center;
    font-family: "Georgia", serif;
    font-size: 1.2em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.certificate-text {
    z-index: 2; 
    color: rgb(35, 35, 35);
    font-size: 1em;
    line-height: 1.6;
}

.certificate-text h3 {
    font-size: 1.4em;
    margin-bottom: 20px;
    font-variant: small-caps;
    color: black;
}

.certificate-container {
    border-image: -webkit-image-set(url('https://img.freepik.com/free-vector/vinatge-car-white-background_1308-25742.jpg') 30 round);
    border-image: -moz-image-set(url('https://img.freepik.com/premium-vector/car-white-background_352279-23.jpg') 30 round);
}

.promo_video {
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.company_history h2{
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 3px gray;
}

.company-requisites {
    border-left: 5px solid #f75ccb;
}
.company-requisites h2 {
    margin-left: 5px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 3px gray;
}
.company-requisites p{
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}