button[type$='mit'] {
    background-color: black;
    color: lightgray;
    font-size: 16px;
    padding: 10px 24px;
    transition-duration: 0.4s;
}
button:hover[type^='sub'] {
    background-color: lightgray;
    color: black;
}
p::first-letter {
    font-size: 2em;
    font-weight: bold;
    color: darkgreen;
}
h2.article-title::before {
    content: "Название: ";
    color: gray;
}
p::after {
    content: " — Продолжение следует.";
    color: gray;
}

h2::selection {
    background-color: black;
    color: lightgray;
}

.articles-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
}

.article-item {
    border: 1px solid #f7b8f2;
    padding: 15px;
    border-radius: 10px;
    background-color: #fee7fa;
    box-shadow: 0 4px 8px black;
}

.article-item img {
    width: 200;
    height: auto;
    border-radius: 10px;
}

p.article-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    font-size: 1em;
    margin-bottom: 10px;
    /* line-height: 1.6em;  */
    max-height: calc(1.6em * 3);
}
