details summary {
    width: auto;
    letter-spacing: 2px;
    text-shadow: -2px 2px 2px rgb(221, 215, 215);
    font-variant: small-caps;
}
details > p {
   text-indent: 50px;
   word-wrap: break-word;
}

/* Стили для чекбокса и текста */
.custom-label {
    display: inline-flex;  /* Используем flexbox для выравнивания */
    font-family: Arial, sans-serif; /* Шрифт */
    color: #333;            /* Цвет текста */
    margin: 20px;
}

#styleSettings {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    width: 250px;
    display: none;
}

#styleSettings div {
    margin-bottom: 20px;
}
