{% extends "menu.html" %}
{% block title %}О компании{% endblock title %}
{% block header %}О компании{% endblock header %}

{% block content %}
    <div class="about_company_main">
        <table>
            <tr>
                <!-- Логотип компании -->
                <td>
                    <img src="{{ company.logo_url }}" alt="Логотип компании">
                </td>
                
                <!-- Описание компании -->
                <td>
                    {{ company.description }}
                </td>
            </tr>
        </table>
    </div>

    <video width="400" autoplay>
        <source src="/static/videos/carvideo.mp4" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video> <br>

    <!-- История компании по годам -->
    <h2>История компании</h2>
    <p>{{ company.history|linebreaks }}</p> <!-- Используем фильтр, чтобы форматировать текст по строкам -->

    <!-- Реквизиты компании -->
    <h2>Реквизиты</h2>
    <p>{{ company.requisites|linebreaks }}</p> <!-- Аналогично форматируем реквизиты -->

    <!-- Сертификат компании (пока просто текст) -->
    <h2>Сертификат</h2>
    <img src="{{ company.certificate }}" alt="Сертификат компании">
{% endblock content %}