<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title>Создание заказа</title> 
    </head> 
    <body> 
        <h1>Создание нового заказа</h1> 
        <td> 
            <h3>Список услуг</h3> 
            {% if services %}
        <table>
            <thead>
                <tr>
                    <th>Название услуги</th>
                    <th>Цена</th>
                    <th>Тип услуги</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td><a href="{{client_id}}/service_info_registered/{{ service.id }}">{{ service.name }}</a></td>
                    <td>{{ service.price }}</td>
                    <td>{{ service.type.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Список услуг пока пуст.</p>
        {% endif %}
        </td>  
        <br><br>
        <h1><a href="cart/{{client_id}}">Перейти в корзину</a></h1>
    </body> 
</html>