{% extends "menu.html" %}
{% load static %}
{% block title %}Вход{% endblock title %}
{% block link %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock link %}
{% block header %}Вход{% endblock header %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <tr>
        <td>Тип пользователя:</td>
        <td>
            <label><input type="radio" name="user_type" value="master" checked> Мастер</label>
            <label><input type="radio" name="user_type" value="client"> Клиент</label>
        </td>
    </tr>
    <table>
        <tr>
            <td>Логин:</td>
            <td>{{ form.login }}</td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input class='enter-button' type="submit" value="Войти">
</form>
{% endblock content %}
