{% extends "menu.html" %}
{% load static %}
{% block title %}Главная страница{% endblock title %}
{%block link %}<link rel="stylesheet" href="{% static 'css/main.css' %}">{% endblock link %}
{% block header %}
<p class="company-name">Автосервис МИНСКА</p>
<div class='banner'>
    <img src='https://t4.ftcdn.net/jpg/04/60/44/41/360_F_460444183_vSecqcHBvOvXleTRx1Po500hC3pvB0Ul.jpg'
    width='850'
    height='200'>
    {% comment %} <img src='https://t3.ftcdn.net/jpg/04/60/44/42/360_F_460444211_E7j3njYE705Rk1guKz9LKh58gFgiTybV.jpg'
    width='850'
    height='200'>
    <img src='https://t3.ftcdn.net/jpg/02/94/79/80/360_F_294798032_i3pg9SpMkrVhkKzdMNaZWRtsM9mc3p5c.jpg'
    width='850'
    height='200'> {% endcomment %}
</div>
{% endblock header %}

{% block content %}
{% if client_id is None %}
    <nav> 
        <a href="/login">Войти</a> 
        <a href="/register">Зарегистрироваться</a> 
    </nav>
{% endif %}
<div>
    <img src="https://png.pngtree.com/png-vector/20220709/ourmid/pngtree-car-repair-logo-in-line-art-style-with-gears-png-image_5821463.png" 
    alt="logo"
    width='50'
    height='50'>
</div>

<p>Текущая дата и время для Вашего часового пояса: {{ user_now }}</p>
<p>Текущая дата и время в UTC: {{ utc_now }}</p>
{% if article %} 
<h3>{{ article.title }}</h3> 
<p>{{ article.text }}</p> 
<img src="{{ article.img_url }}" width="150" height="150"> 
{% else %} 
<p>Нет опубликованных статей.</p> 
{% endif %}

<h2>Услуги</h2>
<form method="POST">
    {% csrf_token %}
    <label>Стоимость от:</label>
    <input type="number" name="price_from" required>
    <label> до:</label>
    <input type="number" name="price_to" required>
    <button type="submit">Применить фильтр</button>
</form><br>
{% if services %}
<div class="services-grid">
    {% for service in services %}
    <div class="service-item">
        <h3><a href="/service_info_not/{{ service.id }}">{{ service.name }}</a></h3>
        <p>Цена: {{ service.price }}</p>
        <p>Тип услуги: {{ service.type.name }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Список услуг пока пуст.</p>
{% endif %}
{% if partners %}
<h1>Наши партнеры</h1>
<div class="partners-list">
    {% for partner in partners %}
    <div class="partner-item">
        <div class="partner-logo">
            <img src="{{ partner.logo }}" alt="{{ partner.name }}">
        </div>
        <div class="partner-info">
            <h3><a href="{{ partner.web }}" target="_blank">{{ partner.name }}</a></h3>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}

