{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Автосервис в Минске">
    <meta name="keywords" content="услуги, запчасти, автосервис">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="/static/images/car_new.png">
</head>
<body>
    <header>{% block header %}{% endblock header %}</header>
    <nav>
        <h2>Навигация</h2>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about_company">О компании</a></li>
            <li><a href="/news">Новости</a></li>
            <li><a href="/qa">Вопросы-ответы</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/politics">Политика конфиденциальности</a></li>
            <li><a href="/admin">Админ</a></li>
            <li><a href="/vacancies">Вакансии</a></li>
            <li><a href="/reviews">Отзывы</a></li>
            <li><a href="/promocodes">Промокоды и купоны</a></li>
            <li><a href="/statistics">Статистика</a></li>
            <li><a href="/requirements">Дополнительно</a></li>
        </ul>
    </nav>
    <main>{% block content%}{% endblock content %}</main>
</body>
</html>