{% extends "menu.html" %}
{% load static %}
{% block title %}Новости{% endblock title %}
{% block link %}<link rel="stylesheet" href="{% static 'css/news.css' %}">{% endblock link %}
{% block header %}Новости{% endblock header %}

{% block content %}
{% if articles %}
<div class="articles-container">
    {% for article in articles %}
    <div class="article-item">
        <img src="{{ article.img_url }}" width="150" height="150" alt="{{ article.title }}">

        <h2 class="article-title">{{ article.title }}</h2>

        <p class="article-summary">{{ article.text }}</p>

        <form action="{% url 'article_detail' article.id %}" method="GET">
            <button type="submit">Читать далее</button>
        </form>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Нет доступных новостей.</p>
{% endif %}

{% endblock content %}