{% extends "menu.html" %}
{% load static %}
{% block title %}Вакансии{% endblock title %}
{% block link %}<link rel="stylesheet" href="{% static 'css/vacancies.css' %}">{% endblock link %}
{% block header %}Вакансии{% endblock header %}

{% block content %}
{% for job in jobs %}
<div class="vacancy">
    <h2 class="vacancy-title">{{ job.title }}</h2>
    <div class="vacancy-description">
        <p>Зарплата: {{ job.salary }} руб.</p>
        <p>{{ job.description }}</p>
    </div>
</div>
<hr>
{% endfor %}

<p class="additional-info">Для получения дополнительной информации и подачи заявки свяжитесь с нами.</p>
{% endblock content %}
